.footer {
    background-color: #000000;
    color: white;
    padding: 1px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
    

}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content div {
    margin: 20px;
}

.footer a {
    color: #fffcfa;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
}

.footer-bottom p{
    padding-left: 0%;
    
}

.footer h3{
    margin-bottom: 10px;

}
.footer p{
    margin: 5px 0;
    color: #fffcfa;
    font-size: 16px;
    
}