*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #DBD9D5;
    margin-bottom: 0;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #FFFCFA;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #969696;
}

.navbar{
    display: flex;
    margin-right: 15px;
}
.logo{
    margin-left: 30px;
    
}

.logo a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
   
    
}

.navbar a{
    display: flex;
    justify-content: space-around;
    padding: 23px 20px;
    align-items: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background-color: red;
    color: #FFFCFA;
}

.header{
   
    height: 60vh !important;
    background: url(img/logo\ nuevo.png)  no-repeat center;
    background-size: cover;
    padding-top: 50px;
   
}

.content_nosotros{
    justify-content: center;    
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content_trabajo{
    justify-content: center;    
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content_marcas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    margin-top: 40px;
    
    margin-bottom: 0;
    background-color: #FFFCFA;
}

.content_marcas div{
    flex-wrap: wrap;
    
}

p{
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}

.marcas img {
    
    background-color: #FFFCFA;
    justify-content: center;
    align-items: center;
    
    
  
}

/* Estilos generales para dispositivos móviles */
@media (max-width: 600px) {
    body {
        font-size: 14px; /* Disminuir tamaño de fuente */
    }

    .head {
        height: auto; /* Altura automática */
        padding: 10px; /* Espaciado reducido */
    }

    .navbar {
        flex-direction: column; /* Colocar elementos en columna */
        margin: 0; /* Quitar margen */
        padding: 10px 0; /* Espaciado alrededor de la barra de navegación */
    }

    .navbar a {
        padding: 10px; /* Espaciado reducido en enlaces */
        font-size: 16px; /* Tamaño de fuente más pequeño */
    }

    .logo {
        margin: 10px; /* Margen reducido para el logo */
    }

    .header {
        height: 30vh; /* Altura menor para el encabezado */
        padding-top: 20px; /* Espaciado superior reducido */
    }

    .title {
        font-size: 32px; /* Tamaño de fuente reducido para el título */
        margin-bottom: 20px; /* Margen inferior reducido */
    }

    p {
        margin: 10px; /* Margen uniforme reducido */
        font-size: 16px; /* Tamaño de fuente más pequeño para párrafos */
    }

    .content_marcas {
        margin-top: 20px; /* Espaciado superior reducido */
        margin-bottom: 20px; /* Espaciado inferior reducido */
    }

    .marcas img {
        width: 100%; /* Imágenes ocupan todo el ancho del contenedor */
        height: auto; /* Mantener proporción de imágenes */
    }
}



